*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    width: 1580px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: black;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background:gold;
    border-radius: 15px;

}
/* App.css */
.scroll-wrapper{
    height: 100vh !important;
}